@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap');

@layer base {
  html {
    font-family: 'IBM Plex Sans KR', system-ui, sans-serif;
    color: #fff;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

@layer {
  html {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
  }
}
